@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;            
  --background-start-rgb: 214, 219, 220; 
  --background-end-rgb: 255, 255, 255;   
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;     
    --background-start-rgb: 10, 25, 47;  
    --background-end-rgb: 20, 40, 70;    
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}


.audio-visualizer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px; 
  height: 60px; 
}


.audio-bar {
  width: 5px; 
  background: linear-gradient(to top, #f65c85, #d40651); /* purple → cyan */
  border-radius: 4px;
  animation: audioWave 1s ease-in-out infinite alternate;
  box-shadow: 0 0 6px rgba(243, 43, 87, 0.6); /* soft glow */
}


@keyframes audioWave {
  0% { height: 15px; }
  100% { height: 50px; }
}

/* Hover effect */
.audio-bar:hover {
  box-shadow: 0 0 12px #06b6d4, 0 0 20px #8b5cf6;
  transform: scaleX(1.2);
  transition: 0.2s ease;
}
