@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-rgb: 59, 130, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --accent-rgb: 139, 92, 246;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: ui-sans-serif, system-ui, -apple-system;
}

#gameCanvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border: 2px solid rgba(var(--accent-rgb), 0.6);
  border-radius: 16px;
}
